<div class="container-form mb-3">
  <mat-form-field>
    <mat-label>Select a category</mat-label>
    <mat-select (selectionChange)="filterNotes($event.value)" [(value)]="selected">
      <mat-option value="0">All</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <a *ngIf="selected !== '0'" mat-icon-button color="primary" class="add-form-button" (click)="delete(selected)">
    <mat-icon aria-label="add-category">delete</mat-icon>
  </a>
</div>