<form class="label-form" [formGroup]="noteForm">
  <mat-accordion>
    <mat-expansion-panel [expanded]="isOpen" hideToggle="true" [ngStyle]="{'background-color': getForm.value.color}" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
          <mat-panel-description>
              Press here to {{panelOpenState ? 'close' : 'open'}} form
          </mat-panel-description>
        
      </mat-expansion-panel-header>
      <div class="example-container">
          <mat-form-field>
              <input matInput maxlength="20" formControlName="title" name="title" placeholder="Title..." autocomplete="off">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput maxlength="60" formControlName="body" name="body" placeholder="Note body..." autocomplete="off"></textarea>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Select a category</mat-label>
            <mat-select formControlName="categoryId" [(value)]="selected" multiple>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-radio-group formControlName="color" class="w-100 d-flex justify-content-around">
              <mat-radio-button *ngFor="let color of colors" [value]="color" [ngStyle]="{'border-bottom': '5px solid ' + color}" class="radio-button"></mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>Labels</mat-label>
            <mat-select formControlName="labels" multiple>
              <mat-option *ngFor="let label of labels" [value]="label.id">{{label.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-between">
          <button *ngIf="!filter" mat-raised-button color="primary" type="submit" (click)="addNote()" [disabled]="!noteForm.valid">Create</button>
          <button *ngIf="filter" mat-raised-button color="primary" type="submit" (click)="changeNote()" [disabled]="!noteForm.valid">Edit</button>
          <button mat-raised-button color="primary" (click)="closedForm()" [disabled]="!noteForm.valid">Cancel</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
