<div class="signin-content">
  <mat-card class="md-card">
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off">
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-card-actions class="auth-form__row auth-card__actions">
          <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="!form.valid">Login</button>
          <button mat-raised-button color="primary" (click)="onRegister()" [disabled]="!form.valid">Registration</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
