.container-form {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background: #fff !important;
    padding: 20px 15px;
    margin: 5px;
    box-shadow: 0px 2px 5px 1px rgba(103, 58, 183, 0.24);
    button {
        width: 50%;
    }
    .colors {
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        background: #e4e4e4;
        
    }
}