<div class="container-form mb-3">
  <form class="label-form" [formGroup]="labelForm" (ngSubmit)="addLabel()">
    <mat-form-field appearance="outline">
      <mat-label>Create label</mat-label>
      <input matInput maxlength="20" formControlName="name" name="label" placeholder="Label..." autocomplete="off">
      <mat-icon matSuffix>create</mat-icon>
    </mat-form-field>
    <a mat-icon-button color="primary" class="add-form-button" (click)="addLabel()" [disabled]="!labelForm.valid">
      <mat-icon aria-label="add-category">add</mat-icon>
    </a>    
    <div class="colors">
      <mat-radio-group formControlName="color" class="w-100 d-flex justify-content-around">
        <mat-radio-button *ngFor="let color of colors" [value]="color" [ngStyle]="{'border-bottom': '5px solid ' + color}" class="radio-button"></mat-radio-button>
      </mat-radio-group>
    </div>    
  </form>
</div>
