.example-container {
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  .example-sidenav {
    padding: 20px;

  }

  .example-sidenav-content {
    padding: 15px;
    
    button {

      &:focus,
      &:active {
        outline: none;
      }

      outline: none;
    }
  }
}
  


.menu-hide {
  cursor: pointer;
}