<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [mode]="screenWidth<600 ? 'Over':'side'"  opened="true">
    <app-category-form></app-category-form>
    <app-category-list></app-category-list>
    <app-label-form></app-label-form>
    <app-label-list></app-label-list>
  </mat-drawer>

  <div class="example-sidenav-content">
      <button mat-mini-fab color="primary">
          <mat-icon class="menu-container__icon menu-hide" (click)="drawer.toggle()">menu</mat-icon>
      </button>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6">
            <app-note-form></app-note-form>
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col-12">
            <app-notes-container></app-notes-container>
        </div>
      </div>
    </div>
      
  </div>
</mat-drawer-container>