<mat-toolbar color="primary">
  <span>
    <img src="assets/img/logo.svg" class="angular-logo">
    Notes 
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="onLogout()"><mat-icon class="header__icon">exit_to_app</mat-icon>Logout</button>
</mat-toolbar>
