<div class="row">
  <div *ngFor="let note of notesFiltered" class="col-12 col-sm-12 col-md-6 col-lg-4 mt-2">
    <mat-card  [ngStyle]="{'background-color': note?.color}">
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center justify-content-between">{{note?.title}}
          <div>
              <button mat-mini-fab color="primary" value="{{note.id}}" class="mr-1" (click)="edit(note.id)">
                <mat-icon>build</mat-icon>
              </button>
              <button mat-mini-fab color="warn" value="{{note.id}}" class="ml-1" (click)="delete(note.id)">
                <mat-icon>delete</mat-icon>
              </button>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{note?.body}}
        </p>
        <div class="labels-container">
          <mat-chip-list *ngFor="let label of getLabels(note.labels)" class="chip-list">
            <mat-chip [ngStyle]="{'background-color': label?.color}">
              {{ label?.name }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>