.labels-container {
  display: flex;
  width: 100%;
  padding: 0 5px;
  flex-wrap: wrap;
  max-width: 308px;
  .chip-list {
    margin: 0 4px 10px 0;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0px #2f2f2f99;
  }
}