<div class="labels-container">
  <mat-chip-list *ngFor="let label of labels" class="chip-list">
    <mat-chip [ngStyle]="{'background-color': label.color}">
      {{label.name}}
      <mat-icon matChipRemove (click)="delete(label.id)">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>