<div class="container-form mb-3">
  <mat-form-field appearance="outline">
      <mat-label>Create category</mat-label>
      <input #newCategoryName matInput maxlength="20" name="category" placeholder="Category name" value="" autocomplete="off">
      <mat-icon matSuffix>create</mat-icon>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="addCategory(newCategoryName.value)" [disabled]="!newCategoryName.value">
          Create
      </button>
    </div>
</div>
    

    
